.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 3px $leaf solid;
  margin: 0 0 42px;
  padding: 0 $padding-mobile 0;
}

.comment__title {
  width: 172px;
  margin-bottom: 31px;
}

.comment__textarea {
  @include oswald;

  width: 100%;
  height: 150px;
  border: 1px $very-light-grey solid;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $light-black;
  margin: 0;
  padding: 15px;

  &:placeholder {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $light-black;
  }
}
