.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  cursor: pointer;
  transition: opacity $transition;
}

.copyright svg {
  width: 41px;
  height: 41px;
  margin-top: 2px;
  margin-right: -7px;
  transition: fill $transition;
  fill: $index-svg-fill;
}

.copyright__text {
  @include style-reset;

  width: auto;
  flex-grow: 1;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $light-black;
}

@media (min-width: $desktop-width) {
  .copyright:hover svg,
  .copyright:focus svg {
    fill: $leaf;
  }

  .copyright:active {
    opacity: 0.3;
  }
}
