.social {
  @include default-list;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.social__item {
  margin: 0 36px 0 0;
  padding: 0;

  &:last-child {
    margin: 0;
  }
}

.social__link path,
.social__link circle {
  fill: $index-svg-fill;
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 28px;
  }

  .social__link--vk svg {
    width: 30px;
    height: 16px;
  }

  .social__link--insta svg {
    width: 23px;
    height: 23px;
  }


  .social__link--fb svg {
    width: 14px;
    height: 28px;
  }
}
